<div class="jumbotron">
	<h1>Welcome to my app!</h1>
	<!-- <p>Sign up <a href="http://google.com">here</a>.</p> -->
	<!-- Google.com lol -->
	<p> Sign up <%= link_to "here", "http://google.com", class: 'btn btn-default active' %></p>
</div>